<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 誠品畫廊-魔術方塊</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    @if (Request.IsAuthenticated)
                    {
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    }
                    <a class="navbar-brand" href="#">
                        <img src="http://www.eslitegallery.com/img/logo-welcome.png" alt="誠品畫廊" style="" />

                    </a>
                </div>
                @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="navbar" class="navbar-collapse collapse">
                        @if (Request.IsAuthenticated)
                        {
                            <ul class="nav navbar-nav navbar-right">

                                <li><a href="">@User.Identity.Name ，您好！</a></li>
                                <li class="active">@Html.ActionLink("首頁", "Filter", "Package")</li>
                                <li>@Html.ActionLink("作品查詢", "Index", "Works")</li>

                                <li>@Html.ActionLink("包裝管理", "Index", "Package")</li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系統管理<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">帳號管理</a></li>
                                        <li><a href="#">數值設定</a></li>
                                        <li><a href="#">系統參數管理</a></li>
                                    </ul>
                                </li>

                                <li><a href="javascript:document.getElementById('logoutForm').submit()">登出</a></li>

                            </ul>
                        }
                    </div><!--/.nav-collapse -->
                }
            </div><!--/.container-fluid -->
        </nav>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
