@model EG_MagicCube.Models.ViewModel.WorksDetailViewModel

@{
    Layout = "~/Views/Shared/_LayoutNonli.cshtml";
    ViewBag.Title = @Html.DisplayFor(model => model.WorksName) + " - " + @Html.DisplayFor(model => model.AuthorsName);
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" rel="stylesheet" />
<style>
    .modal-dialog {
        margin-top: 120px;
    }
</style>
@if (Model != null)
{
    if (Model.EndDate >= DateTime.Today)
    {
        <h2>@Html.DisplayFor(model => model.WorksName)</h2>
        <div class="col-xs-12">
            <hr />
            <dl class="dl-horizontal" style="">
                <dt>
                    @Html.DisplayNameFor(model => model.AuthorsName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AuthorsName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Years)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Years)
                </dd>

                @if (Model.MaterialsName != null)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.MaterialsName)
                    </dt>
                    foreach (string m in Model.MaterialsName)
                    {
                        <dd>
                            @Html.DisplayFor(item => m)
                        </dd>
                    }
                }
            </dl>
        </div>


        @Html.Action("Index", "Files", new { id = Model.WorksNo })
    }
    else
    {
        @Html.Action("ExceptionContent", "Home", new { type = EG_MagicCube.Models.SystemGeneralModel.ConfigureClassEnum.OverDayContent.ToString() });
    }
}
else
{
    @Html.Action("ExceptionContent", "Home", new { type = EG_MagicCube.Models.SystemGeneralModel.ConfigureClassEnum.EmptyContent.ToString() });
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/imageviewer.min.js")"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.lazyload.js")"></script>
    <script>
        $("img").lazyload({
            effect: "fadeIn",
            effectspeed: 500
        });
        jQuery(window).on('load resize scroll', function () {
            $('.grid').masonry({
                itemSelector: '.grid-item'
            });
        });
        $('.gallery-items').click(function () {
            var viewer = ImageViewer();
            viewer.maxZoom = 200;
            //viewer.snapView = true;
            viewer.refreshOnResize = true;
            viewer.zoomOnMouseWheel = true;
            var imgSrc = this.src;
            var highResolutionImage = $(this).data('high-res-src');
            viewer.show(imgSrc, highResolutionImage);
            //viewer.snapView = false;
        });

    </script>
}