@model EG_MagicCube.Models.ViewModel.WorksDetailViewModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.WorksName) + " - " + @Html.DisplayFor(model => model.AuthorsName);
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" rel="stylesheet" />
<style>
    .modal-dialog {
        margin-top: 120px;
    }
</style>
<h2>@Html.DisplayFor(model => model.WorksName)</h2>

<div>
    @*<h4>WorksDetailViewModel</h4>*@
    <hr />
    <p>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("編輯作品", "Edit", new { id = Model.WorksNo }, new { @class = "btn btn-default" })
            if (string.IsNullOrEmpty(Model.PackagesNo))
            {
                @Html.ActionLink("返回作品列表", "Index", "Works",null, new { @class = "btn btn-default" })
            }
            else
            {
                @*@Html.ActionLink("包裝清單", "Detail_Works", "Package",  new { id = Model.PackagesNo }, new { @class = "btn btn-default" })*@
            }
        }
        else
        {
            @*@Html.ActionLink("包裝清單", "Detail_Works", "Package",  new { id = Model.PackagesNo }, new { @class = "btn btn-default" })*@
        }

    </p>
    <dl class="dl-horizontal"  style="columns: 240px 3;-moz-columns: 240px 3;-o-columns: 240px 3;-webkit-columns: 240px 3;">
        @*<dt>
                @Html.DisplayNameFor(model => model.WorksNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorksNo)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.AuthorsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorksName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorksName)
        </dd>

        @if (Model.MaterialsName != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.MaterialsName)
            </dt>
            foreach (string m in Model.MaterialsName)
            {
                <dd>
                    @Html.DisplayFor(item => m)
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        @if (Request.IsAuthenticated)
        {
            <dd>
                @Html.DisplayFor(model => model.Remarks)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PropWare)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PropWare)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PricingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PricingDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GrossMargin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GrossMargin)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenreNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropStyle)
        </dd>

    </dl>
</div>


@Html.Action("Index", "Files", new { id = Model.WorksNo })

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js.map"></script>
<script>
 
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

    </script>    
}