@model IEnumerable<EG_MagicCube.Models.ViewModel.WorksViewModel>

@{
    ViewBag.Title = "作品列表";
}

<h2>作品列表</h2>
<p>
    @Html.ActionLink("新增作品", "Create", "Works", null, new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm())
{
    <div class="search wrapper">
        <div class="row form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.AuthorNoList)
                </label>
                <div class="col-md-4">
                    @Html.DropDownList("AuthorNoList", (IEnumerable<SelectListItem>)ViewBag.WorksAuthors, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                </div>
                <label class="control-label col-md-1">
                    @Html.DisplayNameFor(model => model.Price)
                </label>
                <div class="col-md-3" style="padding:0;">
                    <div class="col-xs-6">
                        <span class="numberprice">
                            <input type="text" class="form-control text-box single-line" />
                            <input type="number" name="MinePrice" class="form-control text-box single-line" />
                        </span>
                    </div>
                    <div class="col-xs-6">
                        <span class="numberprice">
                            <input type="text" class="form-control text-box single-line" />
                            <input type="number" name="MaxPrice" class="form-control text-box single-line" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.WorksName)
                </label>
                <div class="col-md-4">
                    <input type="text" name="WorksName" class="form-control text-box single-line" />
                </div>
                <label class="control-label col-md-1">
                    排序
                </label>
                <div class="col-md-3">
                    @Html.DropDownList("Sort", (SelectList)ViewBag.MeunOrderList, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-xs-3 text-right">
                    <input type="button" id="delete-btn" data-url="@Url.Action("Delete")" class="btn btn-danger pull-right fixed-top" value="刪除" style="visibility:hidden;">
                </div>
                <div class=" col-md-8 text-right">
                    <input type="submit" name="search-btn" class="btn btn-info" value="篩選" />
                </div>
            </div>

        </div>
    </div>
}

<table class="table ">
    <tr>
        <th>
            <input type="checkbox" id="checkall" class="" />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorksName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsName)
        </th>
        <th>
            作品年代
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" id="@item.WorksNo" class="delcheck" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorksName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearStart) @( item.YearStart == item.YearEnd ? "" : "~" + item.YearEnd.ToString())
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Price)*@
                    @item.Price.ToString("#,#")
                </td>
                <td>
                    <div>
                        @Html.ActionLink("編輯", "Edit", new { id = item.WorksNo }) |
                        @Html.ActionLink("介紹", "Details", new { id = item.WorksNo }) |
                        @Html.ActionLink("編輯圖片", "Edit", "Files", new { id = item.WorksNo }, new { })
                    </div>
                </td>
            </tr>
        }
    }

</table>
<div class="pull-right">
    @if (ViewBag.pi > 0)
    {
        @Html.ActionLink("前" + (string)ViewBag.pt + "筆 ", "Index", new { p = (ViewBag.pi - 1) })
    }
    @if (ViewBag.pi > 0 && ViewBag.pn > 0)
    { <text> | </text> }
    @if (ViewBag.pn > 0)
    {
        @Html.ActionLink("後" + (string)ViewBag.pt + "筆 ", "Index", new { p = (ViewBag.pn) })
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/deleteforlist.js")"></script>
    <script src="@Url.Content("~/Scripts/numberprice.js")"></script>
    <script>
        $(".js-example-basic-multiple").select2({ width: '100%' });
    </script>
}