@model IEnumerable<EG_MagicCube.Models.ViewModel.WorksViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="search">
        <div class="col-lg-6 col-md-6 ">
            @Html.DisplayNameFor(model => model.AuthorNoList): 
            @Html.DropDownList("AuthorNoList", (IEnumerable<SelectListItem>)ViewBag.WorksAuthors, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
        </div>
        <div class="">
            @Html.DisplayNameFor(model => model.WorksName)
            <div class="col-md-10">
                <input type="text" name="WorksName" class="form-control text-box single-line" />
            </div>
        </div>

        <div class="">
            @Html.DisplayNameFor(model => model.YearStart)
            <div class="col-md-5">
                <input type="number" name="YearStart" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="">
            @Html.DisplayNameFor(model => model.YearEnd)
            <div class="col-md-5">
                <input type="number" name="YearEnd" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="">
            @Html.DisplayNameFor(model => model.MinePrice)
            <div class="col-md-5">
                <input type="number" name="MinePrice" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="">
            @Html.DisplayNameFor(model => model.MaxPrice)
            <div class="col-md-5">
                <input type="number" name="MaxPrice" class="form-control text-box single-line" />
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-right">
            <input type="submit" name="search-btn" class="btn btn-default" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorksName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorksName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.WorksNo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.WorksNo })
                </td>
            </tr>
        }
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(".js-example-basic-multiple").select2();
    </script>
}