@model IEnumerable<EG_MagicCube.Models.ViewModel.WorksViewModel>

@{
    ViewBag.Title = "作品清單";
}

<h2>作品清單</h2>
<p>
    @Html.ActionLink("新增作品", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="search wrapper">
        <div class="row form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">@Html.DisplayNameFor(model => model.AuthorNoList)</label>
                <div class="col-md-5">
                    @Html.DropDownList("AuthorNoList", (IEnumerable<SelectListItem>)ViewBag.WorksAuthors, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.WorksName)
                </label>
                <div class="col-md-5">
                    <input type="text" name="WorksName" class="form-control text-box single-line" />
                </div>
            </div>

            @*<div class="form-group">
                    <label class="control-label col-md-2">
                        作品年代起
                    </label>
                    <div class="col-md-4">
                        <input type="number" name="YearStart" class="form-control text-box single-line" />
                    </div>
                    <label class="control-label col-md-2">
                        作品年代迄
                    </label>
                    <div class="col-md-4">
                        <input type="number" name="YearEnd" class="form-control text-box single-line" />
                    </div>
                </div>*@
            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.MinePrice)
                </label>
                <div class="col-md-5">
                    <input type="number" name="MinePrice" class="form-control text-box single-line" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.MaxPrice)
                </label>
                <div class="col-md-5">
                    <input type="number" name="MaxPrice" class="form-control text-box single-line" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-right">
                <input type="submit" name="search-btn" class="btn btn-default" value="篩選" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorksName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsName)
        </th>
        <th>
            作品年代
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorksName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearStart)~@Html.DisplayFor(modelItem => item.YearEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.WorksNo }) |
                    @Html.ActionLink("介紹", "Details", new { id = item.WorksNo }) |
                    @Html.ActionLink("編輯圖片", "Edit", "Files", new { id = item.WorksNo }, new { })
                </td>
            </tr>
        }
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(".js-example-basic-multiple").select2({ width: '100%' });
    </script>
}