@model List<EG_MagicCube.Models.WorksFilesModel.FileGroup>
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" rel="stylesheet" />
<style>
    .modal-dialog {
        margin-top: 120px;
    }
</style>
<h2></h2>
<div class="col-xs-12" style="margin-bottom: 15px;">
    @Html.ActionLink("編輯作品", "Edit", "Works", new { id = Url.RequestContext.RouteData.Values["id"]  }, new { @class = "btn btn-info" })
    @Html.ActionLink("返回作品列表", "Index", "Works", null, new { @class = "btn btn-warning pull-right" })
</div>
<div class="col-xs-12">
    @using (Html.BeginForm("Create", "Files", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateFiles" }))
    {
        <input type="hidden" name="id" value="@Url.RequestContext.RouteData.Values["id"]" />
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上傳...</span>
            <input type="file" name="Img" multiple accept="image/*" />
            @*<img id="imgPreview" style="max-width: 150px;" />*@
        </span>
    }
    <input type="button" id="delete-btn" class="btn btn-danger pull-right fixed-top" value="刪除" style="visibility:hidden;">
</div>
<div class="col-xs-12 grid" style="padding: 0px;">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div data-no="@Html.Raw(item.WorksFilesNo)" data-sorting="@Html.Raw(item.Sorting)" class="grid-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="col-xs-12 thumbnail">
                    <div id="imgche">
                        <i class="fa fa-check fa-6" aria-hidden="true" value="@Html.Raw(item.WorksFilesNo)"></i>
                    </div>
                    <div class="imgdiv col-xs-12">
                        <img class=".img-responsive" data-original="@item.File_m_Url" />
                    </div>
                </div>
            </div>
        }
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js.map"></script>*@
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.lazyload.js")"></script>
    <script>
        //jQuery(window).on('load resize scroll', function () {
        //    $('.grid').masonry({
        //        itemSelector: '.grid-item'
        //    });
        //});

        $("img").lazyload({
            effect: "fadeIn",
            effectspeed: 500
        });
        //$(document).on('click', '[data-toggle="lightbox"]', function (event) {
        //    event.preventDefault();
        //    $(this).ekkoLightbox();
        //});

        $('input[type="file"]').change(function () {
            if (this.files.length > 0) {
                $('span.fileinput-button').css('visibility', 'hidden');
                $('div.container').css("cursor", "wait");
                $("#loadingeffect").show();
                $('#CreateFiles').submit();
            }
        });

        function deletebtn(_d) {
            $(_d).parent().toggleClass('selected');
            var s = $('div.selected').length;
            if (s > 0) {
                $('#delete-btn').css('visibility', 'visible');
            } else {
                $('#delete-btn').css('visibility', 'hidden');
            }
        }

        $('div.imgdiv').dblclick(function () {
            event.preventDefault();
            deletebtn(this);
        });

        $('div#imgche').dblclick(function () {
            event.preventDefault();
            deletebtn(this);
        });

        $('input#delete-btn').click(function () {
            var d = $('div.selected i.fa-check');
            var data = [];
            if (d.length == 0) {
                alert('請選取刪除項目');
                return;
            }
            for (var i = 0; i < d.length; i++) {
                data[i] = $(d[i]).attr('value');
            }
            $('span.fileinput-button').css('visibility', 'hidden');
            $('div.container').css("cursor", "wait");
            $('#delete-btn').css('visibility', 'hidden');
            $("#loadingeffect").show();
            $.ajax({
                type: "Post",
                url: '@Url.Action("Delete")',
                data: { id: data },
                async: true,
                cache: false,
                dataType: "json",
                success: function (data) {
                    $("#loadingeffect").hide();
                    if (data) {
                        $('div.selected').parent().remove();
                        $('.grid').masonry({
                            itemSelector: '.grid-item'
                        });
                    }
                    else {
                        alert("刪除失敗....");
                    }
                    $('span.fileinput-button').css('visibility', 'visible');
                    $('div.container').css("cursor", "default");

                },
                error: function (viewHTML) {
                    $("#loadingeffect").hide();
                    alert("刪除失敗....");
                    $('span.fileinput-button').css('visibility', 'visible');
                    $('div.container').css("cursor", "default");
                    $('#delete-btn').css('visibility', 'visible');
                }
            });
        });




        $(function () {
            $(".grid").sortable({
                tolerance: 'pointer',
                revert: 'invalid',
                placeholder: 'grid-item',
                update: function (event, ui) {
                    var sortingitems = [];
                    ui.item.parent().find(".grid-item").each(function (K, v) {
                        $(v).data("sorting", K.toString());
                        var no = $(v).data("no");
                        var sitm = { WorksFilesNo: no, Sorting: K };
                        sortingitems.push(sitm);
                    });
                    //$('.grid').masonry({
                    //    itemSelector: '.grid-item'
                    //});
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("UPdateSorting")',
                        data: { data: sortingitems},
                        async: true,
                        cache: false,
                        dataType: "json",
                        success: function (data) {}
                    });
                }
            });
        });
    </script>
}



