@model List<EG_MagicCube.Models.WorksFilesModel.FileGroup>
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" rel="stylesheet" />
<style>
    .modal-dialog {
        margin-top: 120px;
    }
</style>
<h2>圖片列表</h2>
<div class="col-xs-12" style="margin-bottom: 15px;">
    @Html.ActionLink("返回作品列表", "Index", "Works", null, new { @class = "btn btn-warning pull-right" })

    @using (Html.BeginForm("Create", "Files", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateFiles" }))
    {
        <input type="hidden" name="id" value="@ViewBag.pn" />
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>上傳...</span>
            <input type="file" name="Img" multiple accept="image/*" />
            @*<img id="imgPreview" style="max-width: 150px;" />*@
        </span>
    }

</div>
<div class="col-xs-12">
    <input type="button" id="delete-btn" class="btn btn-danger pull-right fixed-top" value="刪除" style="visibility:hidden;">
</div>

<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            @*<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div style="line-height:250px;">
                        <a href="@Url.Action("img", "Files", new { id=item.Key })" style="width:250px;max-height:250px;line-height:250px;" data-type="image" data-toggle="lightbox" data-gallery="example-gallery" >
                            <img class=".img-responsive img-thumbnail img-fluid" style="max-width:800px;" data-original="@Url.Action("img", "Files", new { id=item.Key })" />
                        </a>
                    </div>
                    <div>
                        <div class="col-lg-2 col-md-3  col-sm-6 col-xs-3 " style="font-size:55px;">
                            <i class="fa fa-square-o fa-6" aria-hidden="true" value="@Html.Raw(item.Key)"></i>
                        </div>
                    </div>
                </div>*@

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="col-xs-12 thumbnail">
                    <div id="imgche">
                        <i class="fa fa-check fa-6" aria-hidden="true" value="@Html.Raw(item.WorksFilesNo)"></i>
                    </div>
                    <div class="imgdiv col-xs-12">
                        <img class=".img-responsive" data-original="@item.File_m_Url" />
                    </div>
                </div>
            </div>
        }
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js.map"></script>
    <script src="@Url.Content("~/Scripts/jquery.lazyload.js")"></script>
    <script>
        $("img").lazyload({
            effect: "fadeIn",
            effectspeed: 1000
        });
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });

        $('input[type="file"]').change(function () {
            if (this.files.length > 0) {
                $('span.fileinput-button').css('visibility', 'hidden');
                $('div.container').css("cursor","wait");
                $('#CreateFiles').submit();
            }
        });

        function deletebtn(_d) {
            $(_d).parent().toggleClass('selected');
            var s = $('div.selected').length;
            if (s > 0) {
                $('#delete-btn').css('visibility', 'visible');
            } else {
                $('#delete-btn').css('visibility', 'hidden');
            }
        }

        $('div.imgdiv').click(function () {
            deletebtn(this);
        });

        $('div#imgche').click(function () {
            deletebtn(this);
        });

        $('input#delete-btn').click(function () {
            var d = $('div.selected i.fa-check');
            var data = [];
            if (d.length == 0) {
                alert('請選取刪除項目');
                return;
            }
            for (var i = 0; i < d.length; i++) {
                data[i] = $(d[i]).attr('value');
            }
            $('span.fileinput-button').css('visibility', 'hidden');
            $('div.container').css("cursor", "wait");
            $('#delete-btn').css('visibility', 'hidden');
             $.ajax({
                type: "Post",
                url: '@Url.Action("Delete")',
                data: { id: data },
                async: true,
                cache: false,
                dataType: "json",
                success: function (data) {
                    location.reload();
                },
                error: function (viewHTML) {
                    alert("刪除失敗....");
                    $('span.fileinput-button').css('visibility', 'visible');
                    $('div.container').css("cursor", "pointer");
                    $('#delete-btn').css('visibility', 'visible');
                }
            });
        });
    </script>
}



