@model EG_MagicCube.Models.AuthorsModel

@{
    ViewBag.Title = "編輯藝術家";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>編輯藝術家</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorsCName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorsCName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AuthorsCName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorsEName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorsEName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AuthorsEName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorsPropArea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.Hidden("AuthorsAreaNo_InputStringHide", string.Join(",", string.Join(",", Model.AuthorsAreaNo_InputString)))
                @Html.DropDownList("AuthorsAreaNo_InputString", (IEnumerable<SelectListItem>)ViewBag.AuthorAreaList, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.AuthorsPropArea, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AuthorsPropTag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Hidden("AuthorsTagNo_InputStringHide", string.Join(",", string.Join(",", Model.AuthorsTagNo_InputString)))
                @Html.DropDownList("AuthorsTagNo_InputString", (IEnumerable<SelectListItem>)ViewBag.AuthorTagList, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.AuthorsPropTag, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WorksAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorksAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorksAmount, "", new { @class = "text-danger", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回藝術家列表", "Index", null, new { @class = "btn btn-warning" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(".js-example-basic-multiple").select2({ width: '100%' });
    $.when($(".js-example-basic-multiple").select2()).then(function () {
        var oAreaNo = $('#AuthorsAreaNo_InputStringHide').val().split(',');
        for (var i = 0; i < oAreaNo.length; i++) {
            $('#AuthorsAreaNo_InputString  option[value="' + oAreaNo[i] + '"]').attr('selected', 'selected');
        }
        $("#AuthorsAreaNo_InputString").trigger("change");
    
        var oTagNo = $('#AuthorsTagNo_InputStringHide').val().split(',');
        for (var i = 0; i < oTagNo.length; i++) {
            $('#AuthorsTagNo_InputString  option[value="' + oTagNo[i] + '"]').attr('selected', 'selected');
        }
        $("#AuthorsTagNo_InputString").trigger("change");
    });
    $(function () {
        $('#my-best-friend').val('').trigger('change');

        });
        $(document).on('click', 'i.fa', function () {
            var p = $(this).parent().parent();
            $(p).hide();
            $(p).find('input').attr('value', '-1');
        });
        $("form").submit(function (e) {
            $('label.error').hide();
            if ($('#WorksModuleList tr:visible').length == 1) {
                $('label.error').show();
                return false;
            }

        });

</script>
}
