@model IEnumerable<EG_MagicCube.Models.AuthorsModel>

@{
    ViewBag.Title = "藝術家列表";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>藝術家列表</h2>

<p>
    @Html.ActionLink("新增藝術家", "Create",null, new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm())
{
    <div class="search wrapper">
        <div class="row form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">
                    藝術家姓名
                </label>
                <div class="col-md-4">
                    <input type="text" name="AuthorsCName" class="form-control text-box single-line" />
                </div>
                <label class="control-label col-md-1">
                    排序
                </label>
                <div class="col-md-3">
                    @Html.DropDownList("Sort", (SelectList)ViewBag.MeunOrderList, new { @class = "form-control" })
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-2 col-xs-3 text-right">
                    <input type="button" id="delete-btn" data-url="@Url.Action("Delete")" class="btn btn-danger pull-right fixed-top" value="刪除" style="visibility:hidden;">
                </div>
                <div class=" col-md-8 text-right">
                    <input type="submit" name="search-btn" class="btn btn-info" value="篩選" />
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            <input type="checkbox" id="checkall" class="" />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsCName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsEName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="checkbox" id="@item.AuthorsNo" class="delcheck" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorsCName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorsEName)
        </td>
        <td>
            <div>
                @Html.ActionLink("編輯", "Edit", new { id = item.AuthorsNo })
            </div>
        </td>
    </tr>
}
</table>
<div class="pull-right">
    @if (ViewBag.pi > 0)
    {
        @Html.ActionLink("前"+ (string)ViewBag.pt + "筆 ", "Index", new { p = (ViewBag.pi - 1) })
    }
    @if (ViewBag.pi > 0 && ViewBag.pn > 0)
    { <text> | </text> }
    @if (ViewBag.pn > 0)
    {
        @Html.ActionLink("後" + (string)ViewBag.pt + "筆 ", "Index", new { p = (ViewBag.pn) })
    }
</div>
@section Scripts {
    <script src="@Url.Content("~/Scripts/deleteforlist.js")"></script>
}