@model IEnumerable<EG_MagicCube.Models.AuthorsModel>

@{
    ViewBag.Title = "藝術家列表";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>藝術家列表</h2>

<p>
    @Html.ActionLink("新增藝術家", "Create",null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsCName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorsEName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorsCName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorsEName)
        </td>
        <td>
            <div>
                @Html.ActionLink("編輯", "Edit", new { id = item.AuthorsNo })
            </div>
        </td>
    </tr>
}

</table>
