@model IEnumerable<EG_MagicCube.Models.AccountModel>

@{
    ViewBag.Title = "帳號列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>帳號列表</h2>
<p>
    @Html.ActionLink("新增帳號", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="form-group">
    <div class="col-md-2 col-xs-3 text-right">
        <input type="button" id="delete-btn" data-url="@Url.Action("Delete")" class="btn btn-danger pull-right fixed-top" value="刪除" style="visibility:hidden;">
    </div>
</div>
<table class="table">
    <tr>
        <th>
            <input type="checkbox" id="checkall" class="" />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                <input type="checkbox" id="@item.UserAccountsNo" class="delcheck" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleNo)
            </td>


            <td>
                <div>
                    @Html.ActionLink("編輯", "Edit", new { id = item.UserAccountsNo })
                </div>
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script src="@Url.Content("~/Scripts/deleteforlist.js")"></script>
}
