@model EG_MagicCube.Models.ViewModel.PackageViewModel

@{
    ViewBag.Title = "Detail_Works";
}

<h2>Detail_Works</h2>

<div class="form-horizontal">
    <h4>PackageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PG_No)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.PG_No, new { htmlAttributes = new { } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PG_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PG_Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorksAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorksAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

    </dl>
    <div class="itemContainer">
        @if (Model.WorksList != null && Model.WorksList.Count > 0)
        {
            foreach (var items in Model.WorksList)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  item" >
                    <div>
                        <div>
                            @Html.LabelFor(WorksListitem => items.MiniImg, htmlAttributes: new { @class = "control-label " })
                        </div>
                        <img src="data:image/png;base64,@Html.Raw(items.MiniImg)" style="width:100%;" />
                    </div>
                    <div>
                        <div>
                            <div>
                                @Html.LabelFor(WorksListitem => items.Author, htmlAttributes: new { @class = "control-label " })
                                @Html.DisplayFor(WorksListitem => items.Author, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.LabelFor(WorksListitem => items.Name, htmlAttributes: new { @class = "control-label " })
                                @Html.DisplayFor(WorksListitem => items.Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.LabelFor(WorksListitem => items.Size, htmlAttributes: new { @class = "control-label " })
                                @Html.DisplayFor(WorksListitem => items.Size, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.LabelFor(WorksListitem => items.Price, htmlAttributes: new { @class = "control-label " })
                                @Html.DisplayFor(WorksListitem => items.Price, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

