@model EG_MagicCube.Models.ViewModel.PackageViewModel

@{
    Layout = "~/Views/Shared/_LayoutNonli.cshtml";
    ViewBag.Title = @Html.DisplayFor(model => model.PG_Name);
}

<h2>@Html.DisplayFor(model => model.PG_Name)</h2>
<div class="form-horizontal">
    <hr />
    @if (Model.WorksList != null && Model.WorksList.Count > 0 && Model.EndDate >= DateTime.Now)
    {
        <p>推薦作品：@Html.DisplayFor(model => model.WorksAmount)</p>
        <p>@Html.DisplayNameFor(model => model.Summary)：@Model.Summary.ToString("#,#")</p>
        @*<p>@Model.EndDate</p>*@
        <hr />
        <div class="col-xs-12 grid" style="padding: 0px;">
            @foreach (var items in Model.WorksList)
            {
                <div class="grid-item col-md-4 col-sm-6 ">
                    <a target="_blank" href="@Url.Action("DetailfoC", "Works", new { id = items.No, p = Model.PG_No })">
                        <div class="col-xs-12 thumbnail selected ">
                            <div class="col-xs-12" style="padding:5px;">
                                <img class=".img-responsive" data-original="@items.MedImg" alt="Red dot" @*style="max-width:350px;"*@ />
                            </div>
                            <div class="col-xs-12 bf-caption">
                                <h4>@items.Name</h4>
                                <p>@items.Author - @items.Price</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        @Html.Action("Expired");
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.lazyload.js")"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        $("img").lazyload({
            effect: "fadeIn",
            effectspeed: 500
        });
        jQuery(window).on('load resize scroll', function () {
            $('.grid').masonry({
                itemSelector: '.grid-item'
            });
        });
    </script>
}