@model EG_MagicCube.Models.ViewModel.PackageViewModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.PG_Name);
}

<h2>@Html.DisplayFor(model => model.PG_Name)</h2>

<div class="form-horizontal">
    @*<h4>PackageViewModel</h4>*@
    <hr />
    @Html.DisplayNameFor(model => model.WorksAmount)：@Html.DisplayFor(model => model.WorksAmount)
    @Html.DisplayNameFor(model => model.Summary)：@Html.DisplayFor(model => model.Summary)
    <hr />
    <div class="row">
@if (Model.WorksList != null && Model.WorksList.Count > 0)
{
    foreach (var items in Model.WorksList)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "Works", new { id = items.No, p = Model.PG_No })">
                    <img src="@Url.Action("img", "Files", new { id = items.MiniImgID })" alt="Lights" style="width:100%">
                    <div class="caption">
                        @*<p>Lorem ipsum...</p>*@
                        @Html.LabelFor(WorksListitem => items.Author, htmlAttributes: new { @class = "control-label " })
                        @Html.DisplayFor(WorksListitem => items.Author, new { htmlAttributes = new { @class = "form-control" } })
                        <br/>
                        @Html.LabelFor(WorksListitem => items.Name, htmlAttributes: new { @class = "control-label " })
                        @Html.DisplayFor(WorksListitem => items.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </a>
            </div>
        </div>
    }
}
    </div>

   
</div>

