@model EG_MagicCube.Models.ViewModel.PackageViewModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.PG_Name);
}

@*<h2>Edit_WorksList</h2>*@


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()*@
<h2>包裝名稱：@Model.PG_Name</h2>
<div class="col-xs-12">
    @Html.ActionLink("加入作品", "Filter", new { id = Model.PG_No }, new { @class = "btn btn-success" })

    @Html.ActionLink("檢視包裝詳細資訊", "Edit", new { id = Model.PG_No }, new { @class = "btn btn-warning pull-right" })
</div>
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10 modelDisplayFor">
            @Html.HiddenFor(model => model.PG_No, new { htmlAttributes = new { @class = "form-control " } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 divBudget modelDisplayFor" data-Budget="@Model.Budget">
            @Html.DisplayFor(model => model.Budget)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 modelDisplayFor divSummary @(Model.Summary > Model.Budget ? " redFont" : "")" data-Summary="@Model.Summary">
            @Html.DisplayFor(model => model.Summary)
        </div>
    </div>
    <div class="row">
        @if (Model.WorksList != null && Model.WorksList.Count > 0)
        {
            foreach (var items in Model.WorksList)
            {
                <div class="col-md-4 ">
                    <div class="col-xs-12 thumbnail @(items.Checked ? "selected": "") ">                       
                        <div class="imgdiv col-xs-12 text-center">
                            <div id="imgche">
                                <i class="fa fa-check fa-6" aria-hidden="true" value="@Html.Raw(items.No)" data-price="@items.Price"></i>
                            </div>
                            <img class=".img-responsive" data-original="@items.MedImg" alt="Red dot" style="max-width:350px;" />
                        </div>
                        <div class="col-xs-12 bf-caption">
                            <a target="_blank" href="@Url.Action("Details", "Works", new { id = items.No, p = Model.PG_No })">
                                <h4>@items.Name</h4>
                                <p>@items.Author - @items.Price (萬)</p>
                            </a>
                        </div>

                    </div>
                </div>
            }
        }
    </div>
</div>
@*}*@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.lazyload.js")"></script>
    <script>
        $("img").lazyload({
            effect: "fadeIn",
            effectspeed: 1000
        });

        function upadtepackage(_d) {
            $(_d).parent().parent().toggleClass('selected');
            var wn = $(_d).parent().find('i.fa').attr('value');
            var _addtype = $(_d).parent().parent().hasClass('selected');
            var p = $(_d).parent().find('i.fa').data('price');
             $.ajax({
                type: "Post",
                url: '@Url.Action("PackageAddWorks")',
                data: { PackageNo: $('#PG_No').val(), WorkNo: wn, addtype: _addtype },
                async: true,
                cache: false,
                dataType: "json",
                success: function (data) {
                    var s = 0;
                    if (_addtype) {
                        s = $('.divSummary').data('summary') + p;
                    }
                    else {
                        s = $('.divSummary').data('summary') - p;
                    }
                    $('.divSummary').data('summary' , s);
                    $('.divSummary').html(s);
                    if (s > $('.divBudget').data('budget')) {
                        $('.divSummary').addClass('redFont');
                    } else {
                        $('.divSummary').removeClass('redFont');
                    }
                },
                error: function (viewHTML) {
                    alert("載入異常....");
                }
            });
        }

        $('div#imgche').click(function () {
            upadtepackage(this);
        });

        $('.imgdiv img').click(function () {
            upadtepackage(this);
        });
    </script>
}
