@model EG_MagicCube.Models.ViewModel.PackageViewModel

@{
    ViewBag.Title = @Html.DisplayFor(model => model.PG_Name);
}

@*<h2>Edit_WorksList</h2>*@


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()*@

<div class="form-horizontal col-lg-10 col-md-10">
    @*<h4>PackageViewModel</h4>*@
    @*<hr />*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @*@Html.LabelFor(model => model.PG_No, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10 modelcont">
            @Html.HiddenFor(model => model.PG_No, new { htmlAttributes = new { @class = "form-control " } })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.PG_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 modelcont">
                @Html.DisplayFor(model => model.PG_Name)
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 modelcont">
            @Html.DisplayFor(model => model.Budget)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 modelcont">
            @Html.DisplayFor(model => model.Summary)
        </div>
    </div>

    @if (Model.WorksList != null && Model.WorksList.Count > 0)
    {
        foreach (var items in Model.WorksList)
        {
            <div class=" form-group well ">
                <div class="col-lg-6 col-md-4 col-sm-8 col-xs-12">
                    <div class="form-group">
                        @Html.LabelFor(WorksListitem => items.MiniImg, htmlAttributes: new { @class = "col-md-4 control-label" })
                    </div>
                    <img src="data:image/png;base64,@Html.Raw(items.MiniImg)" alt="Red dot" style="max-width:350px;" />
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-9 ">
                    <div class="form-group">
                        @Html.LabelFor(WorksListitem => items.Author, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-8 modelcont">
                            @Html.DisplayFor(WorksListitem => items.Author)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(WorksListitem => items.Name, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-8 modelcont">
                            @Html.DisplayFor(WorksListitem => items.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(WorksListitem => items.Size, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-8 modelcont">
                            @Html.DisplayFor(WorksListitem => items.Size)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(WorksListitem => items.Price, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-8 modelcont">
                            @Html.DisplayFor(WorksListitem => items.Price)
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3  col-sm-6 col-xs-3 " style="float:left;font-size:55px;">
                    @if (items.Checked)
                    {
                        <i class="fa fa-check-square-o fa-6" aria-hidden="true" value="@Html.Raw(items.No)"></i>
                    }
                    else
                    {
                        <i class="fa fa-square-o fa-6" aria-hidden="true" value="@Html.Raw(items.No)"></i>
                    }
                </div>
            </div>
        }
    }
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
</div>
@*}*@

<div>
    @Html.ActionLink("包裝詳細", "Edit", new { id = Model.PG_No })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('i.fa').click(function () {
            $(this).toggleClass('fa-square-o');
            $(this).toggleClass('fa-check-square-o');
            var wn = $(this).attr('value');
            var _addtype = $(this).hasClass('fa-check-square-o');
            $.ajax({
                type: "Post",
                url: '@Url.Action("PackageAddWorks")',
                data: { PackageNo: $('#PG_No').val(), WorkNo: wn, addtype: _addtype },
                async: true,
                cache: false,
                dataType: "json",
                success: function (data) {
                },
                error: function (viewHTML) {
                    alert("載入異常....");
                }
            });

        });
    </script>
}
