@model EG_MagicCube.Models.ViewModel.PackageViewModel

@{
    ViewBag.Title = "包裝詳細資訊";
}
<h2></h2>
<div class="col-xs-12">
    @Html.ActionLink("挑選推薦", "Edit_WorksList", new { id = Model.PG_No }, new { @class = "btn btn-info" })
    @Html.ActionLink("加入作品", "Filter", new { id = Model.PG_No }, new { @class = "btn btn-success" })
    @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-warning pull-right" })
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10 modelDisplayFor">
                @Html.HiddenFor(model => model.PG_No, new { htmlAttributes = new { @class = "form-control " } })
            </div>
        </div>
        <div class="form-group text-center">
            <div>
                @Html.LabelFor(model => model.QRImg, htmlAttributes: new { @class = "control-label " })
            </div>
            <img style="max-width:285px;" src="data:image/png;base64,@Html.Raw(Model.QRImg)" alt="Red dot" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 modelDisplayFor">
                <a class="urllink" target="_blank" href="@Html.DisplayFor(model => model.Url)">
                    @Html.DisplayFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                </a>
                @*<i class="glyphicon glyphicon-copy" style="margin-left:15px;font-size:20px;"></i>
                    <span class="tooltiptext">複製到剪貼簿</span>*@
                <button type="button" class="copy btn btn-secondary">點此複製</button>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">包裝資訊</a></li>
            <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">作品明細</a></li>

        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="edit">
                <br /><br />
                <div class="form-group">
                    @Html.LabelFor(model => model.PG_Name, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-3">
                        @Html.EditorFor(model => model.PG_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PG_Name, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-sm-1" })
                    <div class="col-sm-2">
                        <span class="numberprice">
                            <input type="text" class="form-control text-box single-line" />
                            @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                        </span>
                        @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-sm-1" })
                    <div class="col-sm-2">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datecontrol", type = "Date", Value = Model.EndDate.ToString("yyyy-MM-dd") } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-8  modelDisplayFor">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-xs-2" })
                    <div class="col-xs-4 modelDisplayFor">
                        @Html.DisplayFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.LabelFor(model => model.WorksAmount, htmlAttributes: new { @class = "control-label col-xs-2" })
                    <div class="col-xs-4 modelDisplayFor">
                        @Html.DisplayFor(model => model.WorksAmount, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 pull-right text-right">
                        <input type="submit" id="Save" value="儲存" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="info">
                <br />
                <div class="col-md-10 col-xs-12 text-center">
                    <table>
                        <tr><th class="col-md-2 text-center">作品名稱</th><th class="col-md-1 text-center">藝術家</th><th class="col-md-1 text-center">成本</th><th class="col-md-1 text-center">定價</th>
                        <tr />

                        @foreach (var _item in Model.WorksList)
                        {
                            <tr><td style="text-align:left;">@_item.Name</td><td style="text-align:left;">@_item.Author</td><td style="text-align:right;">@_item.Cost</td><td style="text-align:right;">@_item.Price</td></tr>
                        }
                        <tr><td></td><td style="text-align:left;">總計</td><td style="text-align:right;">@Model.SumCost.ToString("#,#")</td><td style="text-align:right;">@Model.SumPrice.ToString("#,#")</td></tr>
                        <tr><td></td><td style="text-align:left;">預算</td><td colspan="2"  style="text-align:right;">@Model.Budget.ToString("#,#")</td></tr>
                    </table>

                </div>

                <br /><br />
            </div>
        </div>


    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/numberprice.js")"></script>
    <script>
        $(document).ready(function () {
            var data = @Html.Raw(Json.Encode(ViewData["Message"]));
            if (data != undefined && data.length > 0) {
                alert(data);
            }
        });
        $(".copy").click(function () {
            var urllink = document.querySelector("a.urllink");
            var range = document.createRange();
            range.selectNode(urllink);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            try {
                var successful = document.execCommand("copy");
                var msg = successful ? "successful" : "unsuccessful";
                if (successful) {
                    $(this).toggleClass('b5276e');
                }

                console.log("Copy email command was " + msg);
            } catch (err) {
                console.log("Oops, unable to copy");
            }
        });

    </script>

}
