@model EG_MagicCube.Models.ViewModel.AdSearchViewModel

@{
    ViewBag.Title = "作品篩選";
}

<h2>作品篩選</h2>

<div class="col-xs-12" style="margin-bottom: 15px; padding-right: 0;">
    @Html.ActionLink("返回包裝列表", "Index", "Package", new { @class = "btn btn-warning pull-right" })
</div>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
      
            <div class="nonpadding">

                <div class="form-group">
                    @Html.LabelFor(model => model.AuthorNoList, htmlAttributes: new { @class = "control-label col-md-1 col-xs-3 " })
                    <div class="col-md-3 col-xs-9">
                        @Html.Hidden("AuthorNo_InputStringHide", string.Join(",", string.Join(",", Model.AuthorNoList ?? new List<string>())))
                        @Html.DropDownListFor(model => model.AuthorNoList, (IEnumerable<SelectListItem>)ViewBag.Authors, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                    </div>
                    @Html.LabelFor(model => model.WorksName, htmlAttributes: new { @class = "control-label col-md-1 col-xs-3" })
                    <div class="col-md-3 col-xs-9">
                        @Html.EditorFor(model => model.WorksName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <label class="control-label col-md-1 col-xs-3">商品訂價</label>
                    <div class="col-md-3 col-xs-9">
                        <div class="col-xs-6">
                            <span class="numberprice">
                                <input type="text" class="form-control text-box single-line" />
                                <input type="number" name="MinePrice" class="form-control text-box single-line" value="@ViewBag.MinePrice" />
                            </span>
                        </div>
                        <div class="col-xs-6">
                            <span class="numberprice">
                                <input type="text" class="form-control text-box single-line" />
                                <input type="number" name="MaxPrice" class="form-control text-box single-line" value="@ViewBag.MaxPrice" />
                            </span>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-1 col-xs-3">作品尺幅</label>
                    <div class="col-md-3 col-xs-9">
                        <input type="hidden" id="WorksSizeNo_InputStringHide" value="@ViewBag.WorksSizeNo_InputString" />
                        @Html.DropDownList("WorksSizeNo_InputString", (IEnumerable<SelectListItem>)ViewBag.WorksSizeList, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                    </div>

                    <label class="control-label col-md-1 col-xs-3">藝術家標籤</label>
                    <div class="col-md-3 col-xs-9">
                        <input type="hidden" id="AuthorsTagNo_InputStringHide" value="@ViewBag.AuthorsTagNo_InputString" />
                        @Html.DropDownList("AuthorsTagNo_InputString", (IEnumerable<SelectListItem>)ViewBag.AuthorTagList, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                    </div>


                    @Html.LabelFor(model => model.GenreNoList, htmlAttributes: new { @class = "control-label col-md-1 col-xs-3" })
                    <div class="col-md-3 col-xs-9">
                        @Html.Hidden("WorksGenreList_InputStringHide", string.Join(",", string.Join(",", Model.GenreNoList ?? new List<string>())))
                        @Html.DropDownList("WorksGenreList_InputString", (IEnumerable<SelectListItem>)ViewBag.GenreNoList, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                    </div>

                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.StyleNoList, htmlAttributes: new { @class = "control-label col-md-1 col-xs-3" })
                    <div class="col-md-3 col-xs-9">
                        @Html.Hidden("WorksPropStyle_InputStringHide", string.Join(",", string.Join(",", Model.StyleNoList ?? new List<string>())))
                        @Html.DropDownList("WorksPropStyle_InputString", (IEnumerable<SelectListItem>)ViewBag.StyleNoList, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                    </div>


                    <label class="control-label col-md-1 col-xs-3">性別</label>
                    <div class="col-md-3 col-xs-9">
                        <input type="hidden" id="AuthorsGender_InputStringHide" value="@ViewBag.AuthorsGender_InputString" />
                        @Html.DropDownList("AuthorsGender_InputString", (IEnumerable<SelectListItem>)ViewBag.AuthorsGenderLsit, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                    </div>

                    <label class="control-label col-md-1 col-xs-3">存放地</label>
                    <div class="col-md-3 col-xs-9">
                        <input type="hidden" id="WorksWareTypeList_InputStringHide" value="@ViewBag.WorksWareTypeList_InputString" />
                        @Html.DropDownList("WorksWareTypeList_InputString", (IEnumerable<SelectListItem>)ViewBag.WorksWareTypeList, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-1 col-xs-3">所有人</label>
                    <div class="col-md-3 col-xs-9">
                        <input type="hidden" id="WorksPropOwnerList_InputStringHide" value="@ViewBag.WorksPropOwnerList_InputString" />
                        @Html.DropDownList("WorksPropOwnerList_InputString", (IEnumerable<SelectListItem>)ViewBag.WorksPropOwnerList, new { @class = "js-example-basic-multiple js-states form-control", @multiple = "multiple" })
                    </div>

                    <label class="control-label col-md-1 col-xs-3">作品年代</label>

                    <div class="col-md-3 col-xs-9">
                        <div class="col-xs-6">
                            <input type="text" name="WorkStartYear" class="form-control text-box single-line" value="@ViewBag.WorkStartYear" />
                        </div>
                        <div class="col-xs-6">
                            <input type="text" name="WorkEndYear" class="form-control text-box single-line" value="@ViewBag.WorkEndYear" />
                        </div>
                    </div>

                    <label class="control-label col-md-1 col-xs-3">出生年</label>

                    <div class="col-md-3 col-xs-9">
                        <div class="col-xs-6">
                            <input type="text" name="BirthStartYear" class="form-control text-box single-line" value="@ViewBag.BirthStartYear" />
                        </div>
                        <div class="col-xs-6">
                            <input type="text" name="BirthEndYear" class="form-control text-box single-line" value="@ViewBag.BirthEndYear" />
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-md-1 col-xs-3">排序</label>
                    <div class="col-md-3 col-xs-9">
                        @Html.DropDownList("Sort", (SelectList)ViewBag.MeunOrderList, new { @class = "form-control" })
                    </div>
                </div>

                    <div class="col-xs-4 pull-right text-right">
                        <input type="submit" value="搜尋" class="btn btn-primary" />
                    </div>
                </div>
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/numberprice.js")"></script>
    <script>
        $.when($(".js-example-basic-multiple").select2({ width: '100%' })).then(function () {
            var oAuthorNo = $('#AuthorNo_InputStringHide').val().split(',');
            for (var i = 0; i < oAuthorNo.length; i++) {
                $('#AuthorNoList  option[value="' + oAuthorNo[i] + '"]').attr('selected', 'selected');
            }
            $("#AuthorNoList").trigger("change");

            var oWorksSizeNo = $('#WorksSizeNo_InputStringHide').val().split(',');
            for (var i = 0; i < oWorksSizeNo.length; i++) {
                $('#WorksSizeNo_InputString  option[value="' + oWorksSizeNo[i] + '"]').attr('selected', 'selected');
            }
            $("#WorksSizeNo_InputString").trigger("change");

            var oAuthorsTagNo = $('#AuthorsTagNo_InputStringHide').val().split(',');
            for (var i = 0; i < oAuthorsTagNo.length; i++) {
                $('#AuthorsTagNo_InputString  option[value="' + oAuthorsTagNo[i] + '"]').attr('selected', 'selected');
            }
            $("#AuthorsTagNo_InputString").trigger("change");

            var oAuthorsGender = $('#AuthorsGender_InputStringHide').val().split(',');
            for (var i = 0; i < oAuthorsGender.length; i++) {
                $('#AuthorsGender_InputString  option[value="' + oAuthorsGender[i] + '"]').attr('selected', 'selected');
            }
            $("#AuthorsGender_InputString").trigger("change");


            var oWorksPropStyle = $('#WorksPropStyle_InputStringHide').val().split(',');
            for (var i = 0; i < oWorksPropStyle.length; i++) {
                $('#WorksPropStyle_InputString  option[value="' + oWorksPropStyle[i] + '"]').attr('selected', 'selected');
            }
            $("#WorksPropStyle_InputString").trigger("change");

            var oWorksWareType = $('#WorksWareTypeList_InputStringHide').val().split(',');
            for (var i = 0; i < oWorksWareType.length; i++) {
                $('#WorksWareTypeList_InputString  option[value="' + oWorksWareType[i] + '"]').attr('selected', 'selected');
            }
            $("#WorksWareTypeList_InputString").trigger("change");


            var oWorksPropOwner = $('#WorksPropOwnerList_InputStringHide').val().split(',');
            for (var i = 0; i < oWorksPropOwner.length; i++) {
                $('#WorksPropOwnerList_InputString  option[value="' + oWorksPropOwner[i] + '"]').attr('selected', 'selected');
            }
            $("#WorksPropOwnerList_InputString").trigger("change");

            var oWorksGenreList = $("#WorksGenreList_InputStringHide").val().split(',');
            for (var i = 0; i < oWorksGenreList.length; i++) {
                $('#WorksGenreList_InputString  option[value="' + oWorksGenreList[i] + '"]').attr('selected', 'selected');
            }
            $("#WorksGenreList_InputString").trigger("change");


        });
    </script>
}
