@model IEnumerable<EG_MagicCube.Models.ViewModel.PackageViewModel>

@{
    ViewBag.Title = "包裝列表";
}

<h2>包裝列表</h2>

<p>
    @Html.ActionLink("新增包裝", "Create", "Package", new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm())
{
    <div class="search wrapper">
        <div class="row form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2">
                    @Html.DisplayNameFor(model => model.PG_Name)
                </label>
                <div class="col-md-4">
                    <input type="text" name="PG_Name" class="form-control text-box single-line" />
                </div>
                <label class="control-label col-md-2">
                    日期排序
                </label>
                <div class="col-md-2">
                    <select class="form-control " tabindex="-1" name="Sort">
                        <option value="ASC">由舊到新</option><
                        <option value="DESC">由新到舊</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10  text-right">
                    <input type="submit" name="search-btn" class="btn btn-info" value="篩選" />
                </div>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.PG_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.WorksAmount)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PG_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.WorksAmount)
                </td>
                <td>
                    <div>
                        @Html.ActionLink("編輯", "Edit", new { id = item.PG_No })
                    </div>
                </td>
            </tr>
        }
    }
</table>
<div class="pull-right">
    @if (ViewBag.pi > 0)
    {
        @Html.ActionLink("前一頁 ", "Index", new { p = (ViewBag.pi - 1) })
    }
    @if (ViewBag.pi > 0 && ViewBag.pn > 0)
    { <text> | </text> }
    @if (ViewBag.pn > 0)
    {
        @Html.ActionLink("後一頁", "Index", new { p = (ViewBag.pn) })
    }
</div>
